  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


  /* ----------- layout.js ------------begin */
  body {
    background-color: #212121;
    color: white;
    font-family: 'Nunito', sans-serif;
  }

  .content {
    max-width: 960px;
    margin: 0 auto;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
  }

  /* ----------- layout.js ------------end */

  /* ----------- navbar.js ------------begin */
  nav {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .logo h1 {
    align-items: flex-end;
    text-align: end;
    margin-left: 6px;
    margin-bottom: 0;
  }

  nav a {
    margin-left: 10px;
  }

  nav .logo {
    margin-right: auto;
  }

  /* ----------- navbar.js ------------end */

  /* ----------- footer.js ------------begin */
  footer {
    display: block;
    text-align: center;
    margin-top: 60px;
    padding-top: 30px 0;
    color: #c2c0c0;
    border-top: 1px solid #eaeaea;
  }

  /* ----------- footer.js ------------end */

  /* ----------- not-found.js ------------begin */
  .not-found {
    text-align: center;
  }

  .not-found a {
    text-decoration: underline;
    color: #c0e8ec
  }

  /* ----------- not-found.js ------------end */